-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.

%h1
  =t('.add_a_new_friend_to')
  %i= aspect.name

= form_tag('/requests', :class => 'new_request') do

  =t('.enter_a_diaspora_username')  
  %br
  %i= t '.your_diaspora_username_is', :diaspora_handle  => current_user.diaspora_handle

  %p
    = label_tag :account_identifier, t(".friends_username")
    = text_field_tag :account_identifier
  = hidden_field_tag :aspect_id, aspect.id
  = submit_tag

